.button-test {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.card-row {
  display: flex;
  flex-direction: row;
  z-index: 2000;
  flex-wrap: wrap;
  justify-content: flex-start;

  .card {
    margin: 1rem 0 0 1rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0 2rem 0;

    &.dumb {
      background: linear-gradient(
        60deg,
        white,
        white,
        white,
        white,
        white,
        white,
        white,
        white,
        #cbcbcb,
        white,
        white,
        white,
        white,
        white,
        white,
        white,
        white
      );
      background-size: 200% 200%;
      animation: SlidingGradient 2s linear infinite;

      .title {
        width: 60%;
        height: 2rem;
      }
      .content {
        width: 80%;
        height: 1rem;
      }
      .button {
        width: 30%;
        height: 2rem;
      }
      .title,
      .content,
      .button {
        border-radius: 0.5rem;
        background-color: #8f8f8f;
      }
    }
  }
}

@keyframes SlidingGradient {
  0% {
    background-position: 200% 0%;
  }
  25% {
    background-position: 150% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
