@if (!isLoggedIn) {
  <app-login-splash-screen
    title="login splash"
  ></app-login-splash-screen>
}
@if (isLoading || !isLoggedIn) {
  <div
    class="card-row dumb"
    title="dumb cards">
    @for (x of [0, 0, 0, 0, 0]; track x) {
      <mat-card
        class="card dumb"
      >
        <div class="title"></div>
        @for (y of [0, 0, 0]; track y) {
          <div
            class="content"
          ></div>
        }
        <div class="button"></div>
      </mat-card>
    }
  </div>
}
@if (!isLoading && isLoggedIn) {
  <div
    class="card-row"
  >
    @for (x of resumes; track x) {
      <mat-card
        class="card"
      >
        <div class="title">
          <h3>{{ x.content }}</h3>
        </div>
        <div class="content">
          <p>{{ x.comments }}</p>
        </div>
        <div class="button">
          <app-button
            [borderStyle]="BorderStyle.Dark"
            [buttonStyle]="ButtonStyle.Primary"
            href="/edit/{{ x.id }}"
          >Edit
          </app-button
          >
          <app-button
            [borderStyle]="BorderStyle.Dark"
            [buttonStyle]="ButtonStyle.Secondary"
            ignoreClick
            (click)="duplicate(x.id)"
          >Copy
          </app-button
          >
          <app-button
            [borderStyle]="BorderStyle.Dark"
            [buttonStyle]="ButtonStyle.Alert"
            ignoreClick
            (click)="queueDelete(x)"
          >Delete
          </app-button
          >
        </div>
      </mat-card>
    }
    <mat-card class="card new">
      <div class="title">
        <h3>Create Resume</h3>
      </div>
      <div class="button">
        <app-button
          [borderStyle]="BorderStyle.Dark"
          [buttonStyle]="ButtonStyle.Primary"
          href="/create"
          [queryParams]="{ next }"
        >Create
        </app-button
        >
      </div>
    </mat-card>
  </div>
}
