<app-login-splash-screen
  title="login splash"
  *ngIf="!isLoggedIn"></app-login-splash-screen>
<div
  class="card-row dumb"
  *ngIf="isLoading || !isLoggedIn"
  title="dumb cards">
  <mat-card
    class="card dumb"
    *ngFor="let x of [0, 0, 0, 0, 0]">
    <div class="title"></div>
    <div
      class="content"
      *ngFor="let y of [0, 0, 0]"></div>
    <div class="button"></div>
  </mat-card>
</div>
<div
  class="card-row"
  *ngIf="!isLoading && isLoggedIn">
  <mat-card
    class="card"
    *ngFor="let x of resumes">
    <div class="title">
      <h3>{{ x.content }}</h3>
    </div>
    <div class="content">
      <p>{{ x.comments }}</p>
    </div>
    <div class="button">
      <app-button
        [borderStyle]="BorderStyle.Dark"
        [buttonStyle]="ButtonStyle.Primary"
        href="/edit/{{ x.id }}"
        >Edit</app-button
      >
    </div>
  </mat-card>
  <mat-card class="card new">
    <div class="title">
      <h3>Create Resume</h3>
    </div>
    <div class="button">
      <app-button
        [borderStyle]="BorderStyle.Dark"
        [buttonStyle]="ButtonStyle.Primary"
        href="/create"
        [queryParams]="{ next }"
        >Create</app-button
      >
    </div>
  </mat-card>
</div>
