.list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding-left: 10rem;

  .list-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: -0.5rem 0;

    app-button {
      width: 2.5rem;
    }
  }
}
