.add-website-button {
  width: 11rem;
  margin-left: 9rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
