@if (loading) {
  <mat-spinner />
} @else {
  <div class="work-experience" [formGroup]="form">
    <app-input formControlName="title">Title</app-input>
    <app-input formControlName="employer">Employer</app-input>
    <app-input formControlName="city">City</app-input>
    <app-input formControlName="state">State</app-input>
    <app-input formControlName="startDate" type="date">Start Date</app-input>
    <app-input formControlName="endDate" type="date">End Date</app-input>
    <div class="responsibilities">
      <span class="responsibilities-header">Responsibilities:</span>
      <app-section-list
        [node]="node.children[6]"
        (onSave)="queueSave($event)"
        (onDelete)="queueDelete($event)"
      />
    </div>
  </div>
}
