<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <form [formGroup]="form">
    <app-input formControlName="title">Title</app-input>
    <app-input formControlName="comments">Comments</app-input>
    <div class="title division">
      <app-input formControlName="name">Name</app-input>
      <app-input formControlName="email" errorMessage="Incorrect pattern"
        >Email</app-input
      >
      <app-input formControlName="phone" errorMessage="Incorrect pattern"
        >Phone</app-input
      >
      <div class="add-remove-row" *ngIf="title().children.length > 2">
        <app-input formControlName="website">Website</app-input>

        <app-button
          [borderStyle]="BorderStyle.Dark"
          [buttonStyle]="ButtonStyle.Primary"
          ignoreClick
          (click)="removeWebsite()"
          >&nbsp;&mdash;&nbsp;</app-button
        >
      </div>
      <div class="add-website-button">
        <app-button
          *ngIf="title().children.length == 2"
          [borderStyle]="BorderStyle.Dark"
          [buttonStyle]="ButtonStyle.Secondary"
          ignoreClick
          (click)="addWebsite()"
          >Add Website</app-button
        >
      </div>
    </div>

    <div class="section division" *ngFor="let section of sections()">
      <app-input formControlName="section{{ section.order }}title"
        >Section Title</app-input
      >
      <div class="select">
        <label for="section{{ section.order }}type">Section Type:</label>
        <select
          id="section{{ section.order }}type"
          formControlName="section{{ section.order }}type"
          [className]="
            form.controls['section' + section.order + 'type'].invalid &&
            form.controls['section' + section.order + 'type'].touched
              ? 'invalid'
              : ''
          "
          (change)="sectionTypeChanged(section)"
        >
          <option></option>
          <option [value]="SectionDisplayType.List">
            {{ SectionDisplayType.List }}
          </option>
          <option [value]="SectionDisplayType.Paragraph">
            {{ SectionDisplayType.Paragraph }}
          </option>
          <option [value]="SectionDisplayType.Education">
            {{ SectionDisplayType.Education }}
          </option>
          <option [value]="SectionDisplayType.WorkExperience">
            {{ SectionDisplayType.WorkExperience }}
          </option>
        </select>
      </div>
      <div
        class="error"
        *ngIf="
          form.controls['section' + section.order + 'type'].invalid &&
          form.controls['section' + section.order + 'type'].touched
        "
      >
        <span>Type is required.</span>
      </div>
      <div
        class="division"
        *ngIf="
          form.controls['section' + section.order + 'type'].value ==
          SectionDisplayType.List
        "
      >
        <div
          class="add-remove-row"
          *ngFor="let item of section.children[0].children"
        >
          <app-input
            formControlName="section{{ section.order }}listItem{{ item.order }}"
            >List Item</app-input
          >
          <app-button
            *ngIf="
              item.order == section.children[0].children.length - 1 &&
              item.order > 0
            "
            [borderStyle]="BorderStyle.Dark"
            [buttonStyle]="ButtonStyle.Primary"
            ignoreClick
            (click)="removeListItem(section.order, section.children[0])"
            >&nbsp;&mdash;&nbsp;</app-button
          >
          <app-button
            [borderStyle]="BorderStyle.Dark"
            [buttonStyle]="ButtonStyle.Primary"
            ignoreClick
            (click)="addListItem(section.order, section.children[0])"
            >&nbsp;+&nbsp;</app-button
          >
        </div>
      </div>
      <div
        class="division"
        *ngIf="
          form.controls['section' + section.order + 'type'].value ==
          SectionDisplayType.Paragraph
        "
      >
        Paragraph
      </div>
      <div
        class="division"
        *ngIf="
          form.controls['section' + section.order + 'type'].value ==
          SectionDisplayType.Education
        "
      >
        Education
      </div>
      <div
        class="division"
        *ngIf="
          form.controls['section' + section.order + 'type'].value ==
          SectionDisplayType.WorkExperience
        "
      >
        WorkExperience
      </div>
    </div>

    <div class="button">
      <app-button
        ignoreClick
        [buttonStyle]="ButtonStyle.Secondary"
        [borderStyle]="BorderStyle.Dark"
        (click)="addSection()"
        >Add Section</app-button
      >
    </div>
    <div class="button save">
      <app-button
        ignoreClick
        [buttonStyle]="ButtonStyle.Primary"
        [borderStyle]="BorderStyle.Dark"
        (click)="save()"
        >Save</app-button
      >
    </div>
  </form>
</div>
