@import "../../../../variables";

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button {
  width: 10rem;
  margin: 1rem 0 0 9rem;
}
