<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading">
  <form [formGroup]="form">
    <app-input formControlName="title">Title</app-input>
    <app-input formControlName="comments">Comments</app-input>
    <div class="section division" *ngFor="let section of resume.children">
      <app-input formControlName="section{{ section.order }}title"
        >Section Title</app-input
      >
    </div>
    <div class="button">
      <app-button
        ignoreClick
        [buttonStyle]="ButtonStyle.Secondary"
        [borderStyle]="BorderStyle.Dark"
        (click)="addSection()"
        >Add Section</app-button
      >
    </div>
    <div class="button save">
      <app-button
        ignoreClick
        [buttonStyle]="ButtonStyle.Primary"
        [borderStyle]="BorderStyle.Dark"
        (click)="save()"
        >Save</app-button
      >
    </div>
  </form>
</div>
