@if (loading) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div (keydown)="onKeyDown($event)">
    <form [formGroup]="form">
      <app-input formControlName="title">Title</app-input>
      <app-input formControlName="comments">Comments</app-input>
      <app-personal-info [node]="resume.children[0]" />
      @for (section of resume.children; track $index) {
        <div class="section-item" data-testid="section">
          <app-resume-section
            [section]="section"
            (onSave)="queueSave($event)"
            (onDelete)="queueDelete($event)"
          />
          <div class="button">
            <app-button
              class="remove"
              ignoreClick
              [buttonStyle]="ButtonStyle.Primary"
              [borderStyle]="BorderStyle.Dark"
              (click)="removeSection($index)"
            >Remove Section
            </app-button>
          </div>
        </div>
      }
      <div class="button">
        <app-button
          ignoreClick
          [buttonStyle]="ButtonStyle.Secondary"
          [borderStyle]="BorderStyle.Dark"
          (click)="addSection()"
        >Add Section
        </app-button>
      </div>
      <div class="button save">
        <app-button
          ignoreClick
          [buttonStyle]="ButtonStyle.Primary"
          [borderStyle]="BorderStyle.Dark"
          (click)="save()"
        >Save
        </app-button>
      </div>
    </form>
    <ngx-extended-pdf-viewer
      [src]="pdfSource"
      [height]="'1000px'"
      [textLayer]="true"></ngx-extended-pdf-viewer>
  </div>
}
