@import "../../../../variables";

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.button {
  width: 10rem;
  margin: 1rem 0 0 9rem;

  &.save {
    margin: 3rem 0 3rem 3rem;
    width: 5rem;
  }
}

.division {
  margin: 1rem 1rem 0 1rem;
  padding-left: 3rem;
  border-top: 2px solid $dark;
}

.add-remove-row {
  margin-top: -0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  app-button {
    margin: 0 0 0 1rem;
  }
}

.add-website-button {
  width: 11rem;
  margin-left: 9rem;
}

.textarea {
  font-size: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  label {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  textarea {
    width: 31rem;
    height: 5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1rem;

    &.invalid {
      border: 1px solid red;
      background-color: #ffd7d7;
    }
  }
}

.select {
  font-size: 1rem;
  width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  label {
    font-size: 1rem;
    margin-right: 0.5rem;
  }
  select {
    width: 11rem;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1rem;

    &.invalid {
      border: 1px solid red;
      background-color: #ffd7d7;
    }
  }
}
.error {
  color: red;
  font-size: 0.75rem;
  width: 11rem;
  margin-left: 9rem;
}
