@import "../../../../variables";

.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .form-container {
    margin-right: 6rem;
  }
  .submit-button {
    margin-top: 2rem;
    width: 11rem;
  }
}
