<div>
  <form [formGroup]="form">
    <app-input formControlName="name">Section title</app-input>
    <div class="select">
      <label for="type">Section type:</label>
      <select formControlName="type" id="type" title="type">
        <option value=""></option>
        @for(displayType of SectionDisplayTypeList; track $index) {
          <option [value]="displayType">{{ displayType }}</option>
        }
      </select>
    </div>
    @switch(form.get('type').value) {
      @case (SectionDisplayType.List) {
        <app-section-list [node]="section.children[0]" />
      }
      @case (SectionDisplayType.Paragraph) {
        <app-section-paragraph [node]="section.children[0]" />
      }
      @case (SectionDisplayType.Education){
        <app-section-education [node]="section.children[0]" />
      }
      @case (SectionDisplayType.WorkExperience) {
        <app-section-work-experience [node]="section.children[0]" />
      }
    }
  </form>
</div>
