@import "../../../variables";

div {
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: $light;

  &.dark {
    border: solid $dark 2px;
  }

  &.light {
    border: solid $light 2px;
  }

  &.primary {
    background-color: $primary;
  }

  &.secondary {
    background-color: $secondary;
  }

  &.alert {
    background-color: $alert;
  }

  &.transparent {
    background-color: transparent;
  }
}
