@import "../../../variables";

div {
  border-radius: 0.2rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  color: $alice-blue;

  &.dark {
    border: solid $walnut-brown 2px;
  }

  &.light {
    border: solid $alice-blue 2px;
  }

  &.primary {
    background-color: $ucla-blue;
  }

  &.secondary {
    background-color: $ash-gray;
  }

  &.alert {
    background-color: $fire-engine-red;
  }

  &.transparent {
    background-color: transparent;
  }
}
