<div class="education" [formGroup]="form">
  <app-input formControlName="school" type="text">School</app-input>
  <app-input formControlName="graduationYear" type="number">Graduation Date</app-input>
  <app-input formControlName="degree" type="text">Degree</app-input>
  <app-input formControlName="major" type="text">Major</app-input>
  <app-input formControlName="minor" type="text">Minor</app-input>
  <app-input formControlName="city" type="text">City</app-input>
  <app-input formControlName="state" type="text">State</app-input>
</div>
