@import "../../../variables";

.base {
  width: 100%;
  height: 3rem;
  background-color: $walnut-brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.edge-div {
  width: 5rem;
  margin: 1rem;
}

.menu {
}

.title {
  h2 {
    color: $alice-blue;
  }
}

.user-info {
}
