.separator-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
}

.separator{
    flex-grow: 1;
    margin: auto;
}

.separator hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

.page {
    width:1008px;
    height: 1308px;
    margin-top: 18px;
}

#page0 {
    margin-top: 0;
}