.separator-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
}

.separator{
    flex-grow: 1;
    margin: auto;
}

.separator hr {
    height: 2px;
    border-width: 0;
    background-color: black;
}

.page {
    width:1004px;
    height: 1304px;
    border: 2px solid black;
    margin-top: 18px;
}

#page1 {
    background-color: #ff0000;
    margin-top: 0;
}

#page2 {

    background-color: #00ff00;
}